<section class="header-section">
    <h1><span>Welcome to</span> {{title}}</h1>
</section> 

<div class="container">
<div class="row">
    <div class="col-md-6">
        <p class="wlcm">{{message}}</p>
    </div>
     <div class="col-md-6">
        <img src="images/1.jpeg" width=350>
    </div>
</div>
 </div>
 
<style>
    
 .h1, h1 {
    margin-top:45px;
    text-align: center;
    font-size: 2.5rem;
}
    
    h1, h2{
        color:red;
    }
    
.row{
    margin-top:55px;
    margin-left:25px;
        
    }
    p{
        margin-top:2px;
        font-size:18px;
             
    }    
    
    span{
        color:black;
    }    
      
</style>    	

			